body {
  font-family: 'Georgia', serif;
  font-size: 15px;
}
h1, h2, h3, h4 {
  font-weight: 600;
  font-family: 'Helvetica Neue', sans-serif;
}
.axis-label {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 16px;
  fill: #888;
}
.button-labels {
  font-family: 'Helvetica Neue', sans-serif;
}
.container h1 {
  font-size: 45px;
}
.credits {
  color: #7e7e7e;
  margin-top: 25px;
}
.jumbotron {
  padding-top: 25px;
  padding-bottom: 25px;
  font-family: 'Helvetica Neue', sans-serif;
}
#bs-overrides.lead, #bs-overrides.credits {
  font-size: 18px;
}
.section {
  margin-top: 30px;
}
.sm-label {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 10px;
  color: #888;
}
.final-section {
  margin-bottom: 75px;
}
div.tooltip {
  position: absolute;
  visibility: hidden;
  font-size: 75%;
  color: #333333;
  background-color: #e6e6e6;
  opacity: .95;
  padding: 5px;
}

/* Histogram */
#histogram {
  margin-left: 10px;
  margin-right: 10px;
}
.btn-group-specials {
  margin-left: 20px;
}
.btn-month {
  width: 90px;
}

/* Top margins */
.top5 { margin-top:5px; }
.top7 { margin-top:7px; }
.top10 { margin-top:10px; }
.top15 { margin-top:15px; }
.top20 { margin-top:20px; }
.top25 { margin-top:25px; }